:root {
  /* declare a variable with `--` syntax */
  --dark: #13293d;
  --bgcolor: white;
  --text_color: rgb(143, 227, 227)
}

* {
  /* padding: 10px; */
  margin: .10px;
  font-family: Serriff;
}

body {
  background-color: var(--bgcolor);
  /* Turns this element into a flexbox */
  display: flex;
  flex-direction: column;
  font-family: -apple-system, Calibri,  BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 1.75rem;
  line-height: 1.5;
}

header {
  display: flex;
  padding: 60px;
  height: 150px;
   /* Defines how to distribute the empty space between child elements */
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark);
  padding: 5px 5px;
  text-align: center;
  color: #fff;
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  /* color:var(--text_color); */
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}

header section {
  display: flex;
  float: right;
  align-items: center;
}

.button{
  background-color : #3b1097; 
  color: white;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #73AD21;
  text-align: center;
  display:block;
  /* margin-bottom:20px; */
  width: 200px;
  cursor: pointer;
}

.quizBtn{
  background-color : #3b1097; 
  color: white;
  height: 40px;
  border-radius: 10px;
  border: 2px solid #73AD21;
  text-align: center;
  display:block;
  margin-bottom:20px;
  width: 200px;
  cursor: pointer;
}

.quizBtn:hover, #startQuiz:hover, #submit:hover, #clearScore:hover, #goBack:hover, #highScore:hover {
  background-color: #e30eea;
}

footer {
  display: flex;
  justify-content: center;
  padding: 1%;
  background-color: var(--dark);
  color: white;
  align-items: flex-end;
  bottom: 0;
  width: 100%;
}

.container {
  width: 80%;
  margin-bottom: 0.5%;
  margin-left: 2%;
  margin-right: 25%;
}

.float-child-right {
  width: 100%;
  float: right;
  margin:0 auto;
  border-top-style: none;
  border-bottom-style: none;
  border-right-style: none; 
  padding-left: 20px;
}

main {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}
  
.questions {
  border-top-style: none;
  border-right-style: none; 
  border-left-style: none; 
  border-bottom: 1px solid black;
  display:none;
} 

#startQuiz, #submit, #clearScore, #goBack, #highScore
{
  font-size: 30px;
  border-radius: 12px;
  background-color: #3b1097;
  color: white;
}

#player-form,.message{ display:none;}

a {
  color: #d26bbc;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

input[type="text"]:focus-within
{
  background-color: #d26bbc;
  border: 1px solid rgb(99, 159, 25);
}

.text-center
  {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.0;
  }
 
@media screen and (max-width: 768px) 
{
  .container
  {
    display:flex;
    flex-direction: column;
  }
  .float-child-left
  {
    text-align: center;
    margin-right: 10px;
  }  
  .float-child-right
  {
    width: 100%;
    float: right;
    margin-bottom: 10px;
    border-top-style: none;
    border-bottom-style: none;
    border-right-style: none; 
    border-left-style: none; 
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15px;
    border-bottom: 2px solid var(--text_color);
    font-size: 2.0rem;
  }
} 
